.dates-deadlines {
  border: 1px solid #000;
}

.dates-deadlines__headline {
  padding: 0.5em;
  border-bottom: 1px solid #000;
  background-color: var(--danger-color);
  color: #fff;
}

.dates-deadlines__list {
  list-style-type: none;
}

.dates-deadlines__text {
  text-transform: uppercase;
}
